* {
    font-family: inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color:white;
    background: linear-gradient(45deg, rgba(4,4,19,1) 0%, rgba(2,2,32,1) 100%);
}
#root {
    min-height: 100vh;
}